openai
langchain
langchain-community
langchain-openai
fastapi
uvicorn
gunicorn
tiktoken
wikipedia
python-dotenv
faiss-cpu
deep-translator
pytube
requests
git+https://github.com/jdepoix/youtube-transcript-api.git@master
